extends layout

block content
  h1 FreeCodeCamp API Projects - URL Shortener Microservice
  h4 Example usage:
  code https://urlshortener-ahmed-bzx.herokuapp.com/new/https://www.freecodecamp.org
  h4 Example output:
  code  { "original_url": "https://www.freecodecamp.org", "short_url": "https://urlshortener-ahmed-bzx.herokuapp.com/S15q9EXGf" }
